.hide {
  display: none;
}

.display {
  display: block;
}

.header__input-wrapper {
  display: flex;
  justify-content: center;
}

.icon {
  transform: scale(1.25);
  padding-bottom: 0.3rem;
  padding-right: 0.05rem;

  align-self: center;
}

.searchbar-wrapper {
  background-color: white;
  width: 289px;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
}

input {
  border: none;
  outline: none;
}
/* Media Queries */

@media screen and (max-width: 316px) {
  .searchbar-wrapper {
    width: 224px;
    margin-top: 1rem;
  }

  .icon {
    padding-bottom: 0.3rem;
    transform: scale(1);
  }
}

@media screen and (min-width: 316px) and (max-width: 350px) {
  .searchbar-wrapper {
    width: 220px;
    margin-top: 1rem;
  }
  .icon {
    padding-bottom: 0.3rem;
    transform: scale(1);
  }
}

@media screen and (min-width: 350px) and (max-width: 410px) {
  .searchbar-wrapper {
    width: 241px;
  }

  .header__input-wrapper {
    .icon {
      padding-bottom: 0.3rem;
      transform: scale(1.05);
    }
  }
}

@media screen and (min-width: 410px) and (max-width: 450px) {
  .header__input-wrapper {
    .icon {
      transform: scale(1.1);
      padding-bottom: 0.3rem;
    }
  }
}

@media screen and (min-width: 450px) and (max-width: 500px) {
  .header__input-wrapper {
    .icon {
      transform: scale(1.15);
    }
  }
}
