* {
  padding: none;
  margin: none;
}

.section__grid-container {
  height: 100vh;
  width: 100vw;
  background-color: white;
  z-index: 105;
  display: block;
  color: black;

  .section__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    padding: 3rem 2rem;
  }

  .Card {
    display: grid;
    grid-template-columns: 1fr;
    border: 2px solid black;
    height: 12rem;
  }
}

.section__grid-container-top {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  height: 2rem;
  background-color: #151f28;

  .section__ScribeLogo {
    background-color: gold;
    border: 2px solid gold;
    border-radius: 2rem;
    position: fixed;
    font-size: 0.8rem;
    top: -0.7%;
    left: 0.5%;
    font-weight: bold;
    cursor: default;
    transition: 0.5s ease;
    &:hover {
      transform: scale(1.04);
    }
  }
}

.section__SearchBar {
  position: fixed;

  right: 0%;
  .icon {
    position: fixed;
    width: 1.15rem;
    top: 0.7%;
    right: 0.5%;
  }
}

.override {
  position: fixed;
  top: 0.15%;
  right: -1.85%;

  display: block;
  background-color: white;
  transform: scale(0.7);
}

.hide {
  display: none;
}

.show {
  display: block;
}
