* {
  padding: none;
  margin: none;
  color: black;
}

.section__grid-container {
  height: min-content;
  width: 100vw;
  background-color: #ececec;
  overflow: hidden;

  display: block;
  color: black;

  .card {
    display: grid;
    grid-template-columns: 1.5fr;
    background-color: white;
    border: 2px groove black;
    height: 25rem;
    min-width: 28.5rem;
    text-align: center;
    padding: 1.25rem;
    font-size: 1.25rem;
    transition: 0.5s ease;

    &:hover {
      transform: scale(1.025);
      background-color: #88b9c817;
    }
  }
}

.section__grid-container-top {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  height: 3rem;
  background-color: #151f28;
}

.section__ScribeLogo {
  border-radius: 2rem;
  background-color: #fcf258;
  border: 2px solid #fcf258;
  font-weight: bold;
  cursor: default;
  position: fixed;

  border-radius: 2rem;
  padding: 0rem;
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  transition: 0.5s ease;
  &:hover {
    transform: scale(1.04);
    cursor: pointer;
  }
  top: -0.9%;
  left: 0.5%;
}

.section__SearchBar {
  position: fixed;

  right: 0%;
  .icon {
    position: fixed;
    width: 1.5rem;
    top: 1.45%;
    right: 0.45%;
  }
}

.section__SearchBar--override {
  position: fixed;
  top: 1%;
  right: -0.725%;
  padding: 0.2rem 0.5rem;
  display: block;
  background-color: white;
  transform: scale(0.85);
}

.hide {
  display: none;
}

.show {
  display: block;
}

.icon--override {
  right: 0.5% !important;
  transform: scale(1);
}

@media screen and (max-width: 350px) {
  .section__grid-container-top {
    width: 117vw;
  }
  .section__grid-container {
    min-width: 102.5vw;
    padding: 1.25rem;
    margin-top: -296rem;
    height: 2125vh;
  }
  .icon--override {
    top: 1.6% !important;
    right: 1.5% !important;
    transform: scale(0.9) !important;
  }
  .section__SearchBar--override {
    top: 1.5%;
    right: -3%;
  }
  .section__ScribeLogo {
    margin-left: 0.25rem;
  }
}
