.section__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  padding: 2.25rem 2rem;
}
.section__grid img {
  width: 9rem;
  margin: auto;
}

.card__description {
  font-size: 1rem;
  display: none;
  overflow-y: auto;
}

.hide {
  display: none;
}

.show {
  display: block;
}

/* Media Queries */
@media screen and (max-width: 295px) {
  .section__grid {
    grid-template-columns: 1fr;
    transform: scale(0.7);
    margin-left: -4rem;
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 295px) and (max-width: 311px) {
  .section__grid {
    grid-template-columns: 1fr;
    transform: scale(0.75);
    margin-left: -3.6rem;
  }
}
@media screen and (min-width: 311px) and (max-width: 325px) {
  .section__grid {
    grid-template-columns: 1fr;
    transform: scale(0.75);
    margin-left: -3.5rem;
  }
}
@media screen and (min-width: 325px) and (max-width: 335px) {
  .section__grid {
    grid-template-columns: 1fr;
    transform: scale(0.75);
    margin-left: -3.725rem;
  }
}
@media screen and (min-width: 335px) and (max-width: 350px) {
  .section__grid {
    grid-template-columns: 1fr;
    transform: scale(0.8);
    margin-left: -3.5rem;
  }
}
@media screen and (min-width: 350px) and (max-width: 359px) {
  .section__grid {
    grid-template-columns: 1fr;
    transform: scale(0.8);
    margin-left: -3.5rem;
  }
}
@media screen and (min-width: 359px) and (max-width: 380px) {
  .section__grid {
    grid-template-columns: 1fr;
    transform: scale(0.8);
    margin-left: -3.1rem;
  }
}
@media screen and (min-width: 380px) and (max-width: 395px) {
  .section__grid {
    grid-template-columns: 1fr;
    transform: scale(0.825);
    margin-left: -2.75rem;
  }
}
@media screen and (min-width: 395px) and (max-width: 400px) {
  .section__grid {
    grid-template-columns: 1fr;
    transform: scale(0.825);
    margin-left: -2.5rem;
  }
}
@media screen and (min-width: 400px) and (max-width: 414px) {
  .section__grid {
    grid-template-columns: 1fr;
    transform: scale(0.825);
    margin-left: -2.5rem;
  }
}
@media screen and (min-width: 414px) and (max-width: 420px) {
  .section__grid {
    grid-template-columns: 1fr;
    margin-left: -2.3rem;
    transform: scale(0.825);
  }
}
@media screen and (min-width: 420px) and (max-width: 430px) {
  .section__grid {
    grid-template-columns: 1fr;
    margin-left: -2.175rem;
    transform: scale(0.825);
  }
}
@media screen and (min-width: 430px) and (max-width: 450px) {
  .section__grid {
    grid-template-columns: 1fr;
    margin-left: -2.175rem;
    transform: scale(0.825);
  }
}
@media screen and (min-width: 450px) and (max-width: 470px) {
  .section__grid {
    grid-template-columns: 1fr;
    margin-left: -1.8rem;
    transform: scale(0.85);
  }
}
@media screen and (min-width: 470px) and (max-width: 505px) {
  .section__grid {
    grid-template-columns: 1fr;
    margin-left: -1.5rem;
    transform: scale(0.875);
  }
}
@media screen and (min-width: 505px) and (max-width: 530px) {
  .section__grid {
    grid-template-columns: 1fr;
    margin-left: -1rem;
    transform: scale(0.9);
  }
}
@media screen and (min-width: 530px) and (max-width: 545px) {
  .section__grid {
    grid-template-columns: 1fr;
    margin-left: -0.65rem;
    transform: scale(0.95);
  }
}
@media screen and (min-width: 545px) and (max-width: 550px) {
  .section__grid {
    grid-template-columns: 1fr;
    margin-left: -0.5rem;
    transform: scale(0.95);
  }
}
@media screen and (min-width: 550px) and (max-width: 1050px) {
  .section__grid {
    grid-template-columns: 1fr;
  }
}/*# sourceMappingURL=bookList.css.map */