.section__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  padding: 2.25rem 2rem;

  img {
    width: 9rem;
    margin: auto;
  }
}

.card__description {
  font-size: 1rem;
  display: none;
  overflow-y: auto;
}

.hide {
  display: none;
}

.show {
  display: block;
}

/* Media Queries */

@media screen and (max-width: 295px) {
  .section__grid {
    grid-template-columns: 1fr;

    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 295px) and (max-width: 311px) {
  .section__grid {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 311px) and (max-width: 325px) {
  .section__grid {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 325px) and (max-width: 335px) {
  .section__grid {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 335px) and (max-width: 350px) {
  .section__grid {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 350px) and (max-width: 359px) {
  .section__grid {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 359px) and (max-width: 380px) {
  .section__grid {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 380px) and (max-width: 395px) {
  .section__grid {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 395px) and (max-width: 450px) {
  .section__grid {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 450px) and (max-width: 470px) {
  .section__grid {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 470px) and (max-width: 505px) {
  .section__grid {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 505px) and (max-width: 530px) {
  .section__grid {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 530px) and (max-width: 545px) {
  .section__grid {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 545px) and (max-width: 550px) {
  .section__grid {
    grid-template-columns: 1fr;
    margin-left: -0.5rem;
  }
}

@media screen and (min-width: 550px) and (max-width: 1200px) {
  .section__grid {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1385px) and (max-height: 800px) {
  .section__grid {
    grid-template-columns: 1fr 1fr;
    margin: 0.7rem 3.5rem;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1385px) and (min-height: 800px) {
  .section__grid {
    grid-template-columns: 1fr 1fr;
    margin: 0.7rem 5rem;
  }
}

@media screen and (min-width: 1385px) and (max-width: 1500px) {
  .section__grid {
    grid-template-columns: 1fr 1fr;
    margin: 0.7rem 6.75rem;
  }
}

@media screen and (min-width: 1500px) and (max-width: 1550px) {
  .section__grid {
    grid-template-columns: 1fr 1fr;
    margin: 0.7rem 7.75rem;
  }
}

@media screen and (min-width: 1550px) and (max-width: 1600px) {
  .section__grid {
    grid-template-columns: 1fr 1fr;
    margin: 0.7rem 8.5rem;
  }
}

@media screen and (min-width: 1600px) and (max-width: 1700px) {
  .section__grid {
    margin: 0.7rem 5rem 0rem 6.5rem;
  }
}

@media screen and (min-width: 1700px) and (max-width: 2000px) {
  .section__grid {
    margin: 0rem 5rem 0rem 6rem;
  }
}

@media screen and (min-width: 2000px) and (max-width: 2100px) {
  .section__grid {
    margin: 0.7rem 5rem 0rem 12rem;
    gap: 9rem;
  }
}

@media screen and (min-width: 2100px) and (max-width: 2300px) {
  .section__grid {
    margin: 0.7rem 5rem 0rem 12rem;
    gap: 9rem;
  }
}

@media screen and (min-width: 2300px) {
  .section__grid {
    margin: 0.5rem 5rem 0rem 14rem;
    gap: 10rem;
  }
}
