.section__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  padding: 2.25rem 2rem;

  img {
    width: 9rem;
    margin: auto;
  }
}

.card__description {
  font-size: 1rem;
  display: none;
  overflow-y: auto;
}

.hide {
  display: none;
}

.show {
  display: block;
}
